.wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    .item {
        font-weight: 700;
        font-size: 1.25rem;
        padding: .5rem 1rem;
        border-radius: 1rem;
        cursor: pointer;

        &:first-child {
            font-weight: 100;
            font-size: 3rem;
            font-family: "Roboto";
            background-color: rgba(228, 228, 228, .1);
            &:hover {
                background-color: rgba(228, 228, 228, 0.6);
            }
        }

        &:hover {
            background-color: rgba(228, 228, 228, 0.6);
        }

        &.selected {
            background-color: rgba(228, 228, 228, 0.6);
        }
    }
}